<div class="row">
    <div class="col-md-4 mt-5">
        <div class="card formulario">
            <div class="card-body text-center">
                <form action="/send-sms" method="post">
                    <div class="form-group">
                        <input type="text" name="message" class="form-control" placeholder="write your message"
                            autofocus>
                    </div>
                    <div class="form-group">
                        <input type="tel" name="phone" class="form-control" placeholder="write your number phone">
                    </div>
                    <button class="btn btn-primary btn-block">send message</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8 mt-5 phone ">
          <div class="card">
                <div class="card-body">
                    <p><em>Total messages: {{messagea.length}}</em></p>
                </div>
            </div>
        {{#if messages}}
            {{#each messages}}
                <ul class="list-group" id="list" >
                   <li class=" list-group-item list-group-item-info">
                       <span> <strong>Message:</strong> {{Body}}</span> -
                       <span> <strong>Number:</strong> {{hideNumber to }} {{ hideNumber from }}</span> -
                       <span>{{timeago createdAt}}</span>
                   </li>
                </ul>

            {{/each}}
        {{else}}
        <p class="text-cente d-flex align-items-center">no messages yet</p>
        {{/if}}
    </div>
</div>